@import "../fonts/fonts";
$main-color-dark: #2c2c2c;
$main-color-bright: #ececec;
$primary-color: #a3a3a3;
$primary-text-color: #fff;
// $main-font-menu: 14px "Inter", sans-serif;
// $main-font-search: 16px "Inter";
// $main-font-button: 600 14px "Inter";
// $main-font-amt: 